<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">Collapsed content</h4>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-light bg-light ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
  
     
      <img src="../../assets/images/menu.png" class="navbar-toggler-icon" style="width: 30px;height:30px;background-color: grey;">
    </button>
    <ul class="navbar-nav justify-content-center">
      <li class="nav-item">
        <h4 *ngIf="(routPathParam$ | async) as routPathParam">
          {{routPathParam.url}}</h4>
      <!-- <img 
      style="width: 50px;height: 50px;border-radius: 100px;"
      src="https://cdn.zeebiz.com/sites/default/files/styles/zeebiz_850x478/public/2020/05/10/118559-hdfc.jpg?itok=-2hz41kR"> -->
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
     <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
    </form>
  </nav>
</div>